<head>
    <style>
        body{
    background-color: blanchedalmond;
}
form{

    border: 2px black solid;
    width: 500px;

    margin: auto;
    padding: 20px;
    margin-top: 50px;
}
input{
    display: block;
}
    </style>
</head>

<h1>redrum</h1>
<form action="/movies_update" method="post">
    <label for="title">title</label>
    <input type="text" id="title" name="title" value="{{movie.title}}">
    <label for="year">year</label>
    <input type="text" id="year" name="year" value="{{movie.year}}">
    <label for="genre">genre</label>
    <input type="text" id="genre" name="genre" value="{{movie.genre}}">

    <input type="submit" value="submit">
</form>