<head>
  <style>
    body {
      background-color: blanchedalmond;
    }

    form {

      border: 2px black solid;
      width: 500px;

      margin: auto;
      padding: 20px;
      margin-top: 50px;
    }

    input {
      display: block;
    }
  </style>
</head>
<form action="/movies_update2" method="post" enctype="multipart/form-data">
  <input type="hidden" id="id" name="id" value="{{movie.id}}">
  <label for="title">title</label>
  <input type="text" id="title" name="title" value="{{movie.title}}">
  <label for="year">year</label>
  <input type="text" id="year" name="year" value="{{movie.year}}">
  <label for="genre">genre</label>
  <!-- <input type="text" id="genre" name="genre" value="{{movie.genre}}"> -->
  <select name="genre" id="genre">
    {{#genres}}
      <option value="{{genre}}">{{genre}}</option>
    {{/genres}}
  </select>
  <!-- <input type="text" id="fileName" name="fileNameDisplay" value="{{movie.image}}"> -->
  <input type="file" name="image" accept="image/*" id="fileInput2">

  <!-- <input type="text" id="customInput" onclick="openFile()" readonly placeholder="Click to select file...">
  <input type="file" name="image" id="fileInput" onchange="updateFileName()" style="display: none;">
  <input type="text" name="imo" id="imo" value="{{movie.image}}"> -->

  <input type="submit" value="submit">
</form>

<script>
  function openFile() {
    document.getElementById('fileInput').click(); // Programmatically trigger the file input click event
  }

  function updateFileName() {
    const fileInput = document.getElementById('fileInput');
    const imo = document.getElementById('imo');
    imo.value = fileInput.files[0] ? fileInput.files[0].name :'No file selected';
    //imo.value="red"
    console.log(typeof imo.value)
  }
  //const imo = document.getElementById('imo');
  //console.log( imo.value)
</script>